#busyIcon {
    z-index:99999;
    position:absolute;
    top:0;left:0;
    width:100%;
    height:500%;
    background-color: rgba(0,0,0,0.7);
}
.container_load {
    width:100px;
    height: 100px;
    opacity: 0.8;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    top:10%;left:50%;
    -webkit-border-radius: 10%;
}
.top,.base {
    height: 30%;
}
.spinner {
    height: 40%;
    width: 40%;
    position: relative;
    margin: 0 auto;
}
.spinner div {
  width: 12%;
  height: 26%;
  background-color: white;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-border-radius: 30%;
  -webkit-animation: fade 1s linear infinite;
}
.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade{
  from {opacity: 1;}
  to {opacity: 0.25;}
}
